# enviorment 
.env
*.env
.env.*
!.env.example

# Virtual envs
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

#configuration
config.json

bugs_notes.txt

# testing / planning
testing/
*test*

docker_data/
config/